.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header-image {
  max-width: 100%;
}

.header {
  max-width: 100%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.weatherBox{
  display: inline-flex;
  text-align:center;
}

.button{
  color: #33d6ff !important;
}

.weatherStyle{
  height: 400;
  width: 12%;
  margin: 20;
  text-align: 'center';
  display: inline-flex;
}
.weather{
  border-color: #33d6ff !important ;
  font-weight:bold;
  font-size:14px;
  border:8%;
  text-align:left;
}

.weatherField{
  color:#33d6ff !important;
  width:100%;
  border:8% !important;
}

.weatherImg{
  width:100%;
}
.suggestionBox{
  text-align:center;
}
.suggestionStyle{
  color: #33d6ff !important;
  max-width: 80%;
  display:inline;
  text-align:center;
  padding: 5% 20%;
}